<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="col-md-12 dashboard">
    <button class="btn btn-success" ng-click="createModel()">Create Budget</button>

    <div class="row">
      <div ng-repeat="budget in budgets" class="col-md-4">
        <div class="budget">
          <h2>{{budget.name}}</h2>

          <div status-bar="budget"></div>

          <div class="margin-top-md">
            <button class="btn btn-primary" ng-click="addEntry(budget)">Enter Expense</button>
            <a href="#"><i class="fa-trash red"></i></a>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
